@import "./public/fonts/fonts.css";

:root {
  font-family: IntelOneText, "Segoe UI", Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0dfe5;
}

.content {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

p a {
  margin: 0 0.5em;
}

h1 {
  text-align: center;
}

button, a.button {
  font-size: 14px;
  font-family: IntelOneText, "Segoe UI", Helvetica, sans-serif;
  background-color: #0054AE;
  color: #fff;
  padding: 12px 20px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #00377C;
}

.info {
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
  font-family: IntelOneMono, 'Courier New', Courier, monospace;
  font-size: small;
  padding: 10px 0 20px;
}

.placeholder img {
  width: 100%;
  padding-bottom: 10px;
}

.select {
  border: 1px solid black;
  padding: 8px;
  background-color: white;
  margin-bottom: 50px;
}
